

.auction-card {
  text-align: center;
  background-color: rgb(255, 255, 255);
  color: rgb(255, 203, 114);
  padding: 1rem;
  width: 12rem;
  height: 22rem;
  display: inline-grid;
  margin: 1rem 2rem;
}

.auction-image {
  justify-self: center;
  height: 11rem;
  max-width: 100%;
}

.avatar {
  width: 20px;
  height: 20px;
}