

.auction-card {
  text-align: center;
  background-color: rgb(255, 255, 255);
  color: rgb(255, 203, 114);
  padding: 1rem;
  width: 12rem;
  height: 22rem;
  display: inline-grid;
  margin: 1rem 2rem;
}

.auction-image {
  justify-self: center;
  height: 11rem;
  max-width: 100%;
}

.avatar {
  width: 20px;
  height: 20px;
}

/* .nav-bar {
  margin-top: 1vh;
  height: 10vh;
  width: 100vw;
  background-color: rgb(255, 250, 208);
  grid-row: 1;
  grid-column: 1 / span 2;
  display: inline-flex;
  justify-content: flex-end;
  position: relative;
  margin-bottom: 15px;
}
.nav-bar img {
  position: relative;
  margin-top: 0vh;
  left: 1vw;
  height: 8vh;
  padding: 15vw;
} */