
.auction-card {
display: flex;
justify-content: center;
}

.details-ul {
  list-style-type: none;
}

/* .clock {
  position: relative;
  margin: a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3px;
  width: 10px;
}

.section section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.section section p {
  font-size: 5px;
}

.section section small {
font-size: 3px;
} */